html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Righteous', cursive;
}
h1, p {
  font-size: 50px;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.74);
}
#map {
  height: 100%;
  width: 65%;
  float: right;
}

#destination-field {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#destination-field:focus {
  border-color: #4d90fe;
}

#nav-bar {
  color: lightblue;
}

.avatar {
  position: relative;
  display: block;
}

.nav-buttons {
  border-color: orange;
  border-style: solid;
  display: block;
  float: right;
}

.splash-page {
  text-align: center;
  background-color: blue;
}

.form-style {
  display: block;
  text-align: left;
  background-color: blue;
}

.splash-image {
  background: url(../images/rear-mirror-1119717_1920.jpg) no-repeat top center scroll;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.splash-search {
  display: block;
}

.ride-tweets {
  display: 'block',
  flexWrap: 'wrap',
  width: '35%',
  float: 'left';
  overflow: 'auto';
}
